.container {
  width: 1000px;
  font-family: 'Josefin Sans', sans-serif;
  font-weight: 500;
  font-size: 20px;
  line-height: 1.6;
  margin: 0 auto 0 auto;
}
header {
  margin-top: -20px;
  width: 1000px;
  height: 400px;
  background: top/contain no-repeat url("http://stayathome-syllabus.greenfox.academy/week01/assets/first-website-header.png");
  position: relative;
}

main {
  width: 800px;
  margin: -50px auto 0 auto;
/*   background: #ccc; */
}
p {
  margin-left: 50px; 
}
h1 {
  font-size: 60px;
  font-family: 'Abril Fatface', cursive;
  margin-top: 0px;
  margin-left: 0px;
  position: absolute;
  top: 200px;
  left: 150px;
  padding: 0px;
  z-index: 2;
}
h2 {
  font-family: 'Merriweather', serif;
  margin-top: 20px;
  margin-left: 50px; 
}

h3 {
   font-family: 'Josefin Sans', sans-serif;
   line-height: 1;
   margin-left: 50px; 
}
h3.title {
  font-size: 26px;
  font-family: 'Abril Fatface', cursive;
  margin: 0px;
  position: absolute;
  top: 195px;
  left: 150px;
/*   margin-top: 500px; */
}
h3.headline {
  margin-top: 40px;
  font-family: 'Josefin Sans', sans-serif;
}
h3.subtitle {
  font-family: 'Merriweather', serif;
  margin-top: -15px;
  font-size: 11px;
  line-height: 1;
}

.capital {
/*   text-decoration: underline; */
  font-family: 'Josefin Sans', sans-serif;
  text-transform: uppercase;
  margin-left: 50px;
  padding: 30px 0 30px 0;
}

ul {
  margin-left: 50px; 
  margin-bottom: 100px;
}



blockquote {
font-family: 'Abril Fatface', cursive;
font-size: 40px;
line-height: 1.65em;
font-weight: 300;
margin: 50px auto 0px auto;
padding: 10px 30px 10px 30px;
color: #fff;
background: #444;
position: relative;
width: 100%;
}
blockquote::before {
  content: '“';
  font-size: 150px;
  position: absolute;
/*   transform: rotate(180deg);
  left: 10px;
  top: -30px; */
  left: 5px;
  top: 32px;
}
blockquote p {
  margin-left: 50px;
}
.bold {
/*   text-decoration: underline; */
  font-weight: 900;
}